* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: system-ui;
    font-weight: 600;
    list-style: none;
}

h1 {
    margin-top: 50px;
    text-align: center;
    margin-bottom: 50px;
}

.button {
    margin-left: 100px;
    margin-top: 50px;
    margin-bottom: 50px;
    display: inline-block;
    background: #8C959D;
    color: #fff;
    padding: 1rem 1.5rem;
    text-decoration: none;
    border-radius: 3px;

}

.portfolio {
    margin-top: 50px;
    display: flex;
    justify-content: start;
    align-items: center;
    gap:0 400px;
    margin-bottom: 50px;
    margin-left: 50px;
}

.shapka {
    font-size: 30px;
    width: 400px;

}


ul {
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
    gap: 0 35px;
}

.ssilka {
    color: #000;
    text-decoration: none;
    font-size: 20px;
}
